@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.back1234 {
    background-color: white;
    height: 100vh;
    background-size: cover;

}

.nm {
    font-family: bree serif;

}

.h {
    text-align: center;
}

.ij1 {
    height: 100px;
    border-radius: 60px;
}

.aaa:hover {
    background-color: white;

}

.bu {
    border-width: 0px;
    text-align: left;

}

.lll {
    height: 30px;
}

.back12 {
    background-color: lightgrey;
}