{% extends 'base.html' %}
  {% block body %}
  {% load static %}
  <div class="my-3 p-2">
      {% if usertype == none %}
      <h1>Welcome,</h1>
      {% else %}
      <h1>Welcome, {{usertype}}</h1>
      {%endif%}
  </div>
  {% endblock body %}