{% extends 'base.html' %}
  {% block body %}
  {% load static %}
    <form action="" method="post">
        {%csrf_token%}
        <h2>Enter Your Username</h2>
        <input type="text" name="username" value="Username">
        <h2>Enter Passsword</h2>
        <input type="password" name="password1" value="Password">
        <h2>Confirm Password</h2>
        <input type="password" name="password2" value="Password1">
        <h2>Enter Email</h2>
        <input type="email" name="email" value="Email">
        <h2>Select Gender</h2>
        <select name="gender" id="">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Prefer not to say">Prefer Not to Say</option>
        </select>
        <h2>Enter Height</h2>
        <input type="text" name="height" value="Height">
        <h2>Enter Weight</h2>
        <input type="text" name="weight" value="Weight">
        <h2>Enter Mobile Number</h2>
        <input type="number" name="mobno" value="Mobile Number">
        <h2>Enter AGE</h2>
        <input type="number" name="age" value="Age">
        <h2>Select Subscription</h2>
        <select name="subscription" id="">
            <option value="Free Plan">Free Plan</option>
            <option value="Basic Plan">Basic Plan @9.99Rs</option>
            <option value="Premium Plan">Premium Plan @99.9Rs</option>
        </select>
        <h2>Select Your Target</h2>
        <select name="target" id="">
            <option value="Gain Weight">Gain Weight</option>
            <option value="Stay Fit">Stay Fit</option>
            <option value="Loose Weight">Loose Weight</option>
        </select>
        <h2>Hit Submit</h2>
        <input type="submit" value="submit">
    </form>
    {% endblock body %}